.logo{
    cursor: pointer;
    max-width: 10rem;
    max-height: 10rem;
    align-items: center;
}

.navBoxes{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 3rem;
    align-items: center;
    margin-bottom: 0;
}

.header{
    background-color: #030303f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8rem;
    align-items: center;
    
}